arcoiris.ts
arcoiris.js
impares.ts
impares.js
nombres.ts
nombres.js
pais.ts
pais.js
pares.ts
pares.js
revertido.ts
revertido.js
zodiaco.ts
zodiaco.js
sumaCaracteres.ts
sumaCaracteres.js
tipoNumero.ts
tipoNumero.js
test89.ts
test89.js
package.json
repasoIf.js
repasoFor.js
repasoWhile.js